/* Navigation Section */
#navbar {
    flex-direction: column;
    padding-bottom: 10px;
}

#navbar >ul {
    width: 100%;
    justify-content: space-around;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 30px;
    border-radius: 7px;
}

/* Home Section */
#home{
    height: 500px;
    padding: 0px 28px;
}

#home::before{
    height: 390px;
}

#home .heading{
    font-size: 1.8rem;
}

#home p {
    font-size: 0.9rem;
}
/* Services Section */
#services-container{
    margin: -20px 20px;
}
#services {
    flex-direction: column;
}

#services .box{
    padding: 14px;
    margin: 20px 20px;
    margin-bottom: 20px;
}

/* Client Section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}
/* Contact Us Section */
#contact-box form{
    width: 80%;
}

/* Footer */

/* Utilities CLasses */
.h-primary{
    font-size: 1.5rem;
}

.btn{
    font-size: 13px;
    padding: 5px 8px;
}


@media all and (max-width: 1237px)