// Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/* Navigation Bar */
#navbar{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    align-items: center;
    background: url("../Images/bg-image.jpg") no-repeat center center/cover ;
    &::before{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
    }
    ul{
        display: flex;
        font-family: 'Open Sans', sans-serif;
        li{
            list-style: none;
            a{
                color: white;
                display: block;
                font-size: 22px;
                padding: 0px 22px;
                border-radius: 10px;
                text-decoration: none;
                &:hover{
                    color: black;
                    background-color: white;
                }
            }
        }
    }
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
    img{
        height: 59px;
        margin: 3px 6px;
        box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    }
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    height: 535px;
    justify-content: center;
    align-items: center;
    &::before{
        content: "";
        background: url("../Images/home-bg-image.png") no-repeat center center/cover;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 650px;
        width: 100%;
        z-index: -1;
        opacity: 0.89;
    }
    p{
        color: black;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        text-transform: capitalize;
    }
}

/* Services Section */
#services-container{
    padding: 100px 0px;
    h1{
        margin-top: -170px;
        margin-bottom: 20px;
        color: black;
    }
}

#services{
    margin: 0px 34px;
    display: flex;
}

.box{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 25px;
    border-radius: 13px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    box-shadow: 2px 5px 20px black;
    img{
        width: 100%;
        height: auto;
        margin: auto;
        display: block;
        border-radius: 20px;
        box-shadow: 2px 5px 10px black;
    }
    p{
        font-family: 'Open Sans', sans-serif;
    }
}

/* Client-Section */
#client-section{
    position: relative;
    height: 350px;
    z-index: -1;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.7;
        background: url("../Images/client-bg-image.jpg") no-repeat center center/cover;
    }
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 125px;
    }
}

.client-item{
    padding: 34px;
}

/* Contact-Section */
#contact{
    position: relative;
    z-index: -1;
    &::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
        background: url("../Images/contact-bg-image.jpg") no-repeat center center/cover;
    }
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    form{
        width: 45%;
    }
    label{
        font-size: 1.3rem;
        font-family: 'Open Sans', sans-serif;
    }
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}

footer { 
    background-color: black;
    color: white;
    padding: 20px 20px;
    font-size: 1.2rem;
    text-align: center;
}

/* Utility Classes */
.h-primary{
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5rem;
    padding: 11px;
    text-align: center;
}

.heading{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border: transparent;
    background-image: url("../Images/heading\ one-bg-image.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    padding: 1rem;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    align-self: center;
}

.h-secondary{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3rem;
    padding: 11px;
}

.btn {
    margin-top: 15px;
    width: 13rem;
    padding: 0.7rem;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #3F51B5;
    border: transparent;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 0.4rem;
    cursor: pointer;
    &:hover{
        background: skyblue;
    }
}

.center{
    text-align: center;
    color: black;
}

@media all and (max-width: 1237px){
    #navbar {
        flex-direction: column;
        padding-bottom: 10px;
        ul{
            width: 100%;
            justify-content: space-around;
            li{
                a{
                    font-size: 20px;
                    padding: 0px 30px;
                    border-radius: 7px;
                }
            }
        }
    }
    /* Home Section */
    #home{
        height: 500px;
        padding: 0px 28px;
        &::before{
            height: 390px;
        }
        p{
            font-size: 15px;
        }
    }
    .heading{
        font-size: 30px;
    }

    /* Services Section */
    #services-container{
        margin: -20px 5px;
    }

    #services {
        margin-top: -50px;
        margin-bottom: -50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box{
        padding: 14px;
        width: 80%;
        margin: 40px 0px;
    }

    /* Client Section */
    #clients{
        flex-wrap: wrap;
        img{
            width: 66px;
            padding: 6px;
            height: auto;
        }
    }
    /* Contact Us Section */
    #contact-box {
        form{
            width: 80%;
        }
    }

    /* Utilities CLasses */
    .h-primary{
        font-size: 1.5rem;
    }
    .btn{
        font-size: 13px;
        padding: 5px 8px;
    }
}

@media screen and (max-width: 849px) {
    #navbar {
        ul {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li{
                margin: 5px;
            }
        }
    }

    #home{
        height: 880px;
        padding: 0px 28px;
        &::before{
            height: 580px;
        }
        p{
            font-size: 0.9rem;
        }
    }
    .heading{
        font-size: 1.7rem;
    }
    #services-container{
        margin-top: -210px;
    }
}

@media screen and (max-width: 455px) {
    #home {
        p{
            font-size: 0.8rem;
        }
    }
    .heading{
        font-size: 1.4rem;
    }
}

@media all and (max-width: 376px) {
    .heading{
        font-size: 1rem;
    }

    #home {
        p {
            font-size: 0.75rem;
        }
    }
}